body {
  margin: 0;
  padding: 0;

  /*
     - 背景 w: #ffffff / 文字 #000000
     - 背景 b: #000000 / 文字 #ffffff
  */
  background-color: #ffffff;
  color: #000000;

  font-family: -apple-system, BlinkMacSystemFont,
               "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN",
               "Meiryo", sans-serif;

  /*行間：
       n（小）: 1.5
       m（中）: 2
       l（大）: 2.5
  */
  line-height: 1.5;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  box-sizing: border-box;

  /*文字サイズ：
       s（小）: 15px
       m（中）: 25px
       l（大）: 35px
  */
  font-size: 15px;
}